{% extends 'base.html' %}

{% block content %}
<h1>Adicionar Produto</h1>
<form action="/adicionar" method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome do Produto</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="quantidade" class="form-label">Quantidade Inicial</label>
        <input type="number" class="form-control" id="quantidade" name="quantidade" required>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
{% endblock %}
